<!-- app/views/form_post/_form.html.erb -->


<%= form_with model: @post, url: form_posts_path, method: :post, data: { turbo_frame: "new" } do |f| %>

  <div>
    <%= f.label :Title %>
    <%= f.text_field :Title %>
    <% if @post.errors[:Title].any? %>
      <div class="error">
        <%= @post.errors[:Title].first %>
      </div>
    <% end %>
  </div>

  <div>
    <%= f.label :Text %>
    <%= f.text_area :Text, required: false %>
    <% if @post.errors[:Text].any? %>
      <div class="error">
        <%= @post.errors[:Text].first %>
      </div>
    <% end %>
  </div>

  <div>
    <%= f.label :CommentsCounter %>
    <%= f.number_field :CommentsCounter %>
    <% if @post.errors[:CommentsCounter].any? %>
      <div class="error">
        <%= @post.errors[:CommentsCounter].first %>
      </div>
    <% end %>
  </div>

  <div>
    <%= f.label :LikesCounter %>
    <%= f.number_field :LikesCounter %>
    <% if @post.errors[:LikesCounter].any? %>
      <div class="error">
        <%= @post.errors[:LikesCounter].first %>
      </div>
    <% end %>
  </div>

  <%= f.submit 'Create Form Post' %>
<% end %>

