<%  UsersHelper %>

<html>
  <head>
    <%= stylesheet_link_tag 'users_styles' %>
  </head>
  <body>



  <h2 class="users-available">Users available</h2>

  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
  <%= link_to "Log In", new_user_session_path, class: "btn btn-primary" %>


  <%= render_flash_messages %>
  



  <%= render 'users_display' %>



  </body>
</html>

    

