<h1>User Details</h1>

<p>User Name: <%= @user.name %></p>
<p>User Posts: <%= @user.post_counter %></p>

<p>User Bio: <%= @user.bio %></p>

<ul>
  <% @user.posts.each do |post| %>
    <li>
      <%= link_to post.Title, user_post_path(@user, post) %>
      <%= post.Text %>
      Comments: <%= post.CommentsCounter.nil? ? 0 : post.CommentsCounter %>
      Likes: <%= post.LikesCounter.nil? ? 0 : post.LikesCounter %>
    </li>
  <% end %>
</ul>


