<html>
  <head>
    <%= stylesheet_link_tag 'posts_styles' %>
  </head>
  <body>
  <h1>Here is the List of posts associated with User account</h1>

    <div class="container-user">
      <img src="" class="img-user-s">
      <ul class="ul-user">
        <li>User Name: <%= @user.name %></li>
        <li>User Posts: <%= @user.post_counter %></li>
      </ul>
    </div>

    <div class="users-posts">
      <% @user.posts.each do |post| %>
        <div class="post">
          <%= link_to post.Title, user_post_path(user_id: post.author_id, id: post.id),class: 'custom-link-s' %>
          <p><%= post.Text %></p>
          <div class="text">
            <p class="comment-text">Comments: <%= post.CommentsCounter.nil? ? 0 : post.CommentsCounter %></p>
            <p>Likes: <%= post.LikesCounter.nil? ? 0 : post.LikesCounter %></p>
          </div>
        </div>

        <ul class="ul-comments-box">
          <h4 class="h4-section-comments">Section for Comments: </h4>
          <% if post.comments.blank? %> 
            <li>no comments for the moment</li>
          <% else %>
            <% post.comments.each do |comment| %>
              <li> 
                Username: <%= comment.Text.blank? ? 'no comments for the moment' : comment.Text %>
              </li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </div>

    <button class="btn btn-primary">pagination</button>
  </body>
</html>