<%  PostsHelper %>

<html>
  <head>
    <%= stylesheet_link_tag 'posts_styles' %>
  </head>
  <body>


    <div class="container-user">
      <img src="" class="img-user-s">
      <ul class="ul-user">
        <li>User Name: <%= @user.name %></li>
        <li>User Posts: <%= @user.post_counter %></li>
      </ul>
    </div>

    <div class="users-posts">
      <% @user.posts.each do |post| %>
        <div class="post">
          <%= link_to post.Title, user_post_path(user_id: post.author_id, id: post.id), class: 'custom-link-s' %>
          <p><%= post.Text %></p>
          <%= render_text_section(post) %>
        </div>

        <%= render_comments_section(post) %>
      <% end %>
    </div>

    <button class="btn btn-primary">pagination</button>
  </body>
</html>
