<html>
  <head>
    <%= stylesheet_link_tag 'one_post' %>
  </head>
  <body>

  <%= render 'single_post' %>

  <%# Render comments section %>
  <ul class="ul-comments-box">
    <h4 class="section-comments">Section for Comments:</h4>
    <% if @post.comments.blank? %>
      <li>no comments for the moment</li>
    <% else %>
      <% @post.recent_comments.each do |comment| %>
        <li>
          <%= "#{comment.user.name}: #{comment.Text.blank? ? 'no comments' : comment.Text}" %>
          <% if can?(:destroy, comment) %>
   <%= button_to "Delete", delete_comment_path(comment), method: :delete, class: "btn-delete" %>
<% end %>
        </li>
      <% end %>
    <% end %>
  </ul>



    <button class="btn btn-primary">
    <%= link_to "Add a Comment", new_form_comment_path(post_id: @post.id) %>
    </button>

    <%= render_flash_messages %>

    <% if can? :destroy, @post %>
  <%= button_to "Delete post", delete_user_post_path(user_id: @post.user.id, id: @post.id), method: :delete, class: "btn" %>
<% end %>
  </body>
</html>