<html>
  <head>
    <%= stylesheet_link_tag 'one_post' %>
  </head>
  <body>

    <div class="users-posts">
      <div class="post">
      <%= render_text_section(@post) %>
        
        <div class="text-author">
        <p>Title: <%= @post.Title %></p> 
        <p class="by-author"> by: <%= @post.user.name %></p>
        </div>

        <p>Text: <%= @post.Text %></p>
      </div>
    </div>

    <%= render_comments_section(@post) %>

  </body>
</html>