<html>
  <head>
    <%= stylesheet_link_tag 'one_post' %>
  </head>
  <body>
  
    <div class="users-posts">
      <div class="post">
        <div class="text">
          <p class="comment-text">Comments: <%= @post.CommentsCounter.nil? ? 0 : @post.CommentsCounter %></p>
          <p>Likes: <%= @post.LikesCounter.nil? ? 0 : @post.LikesCounter %></p>
        </div>
        
        <div class="text-author">
        <p>Title: <%= @post.Title %></p> 
        <p class="by-author">by: <%= @post.user.name %></p>
        </div>

        <p>Text: <%= @post.Text %></p>
      </div>
    </div>

    <ul class="ul-comments-box">
      <h4 class="section-comments">Section for Comments: </h4>
      <% if @post.comments.blank? %> 
        <li>no comments for the moment</li>
      <% else %>
        <% @post.comments.each do |comment| %>
          <li>
            Username: <%= comment.Text %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </body>
</html>